.git
.gitignore
.github

node_modules
.next/cache

*.env
*.env.*
.env.local
.env.local.example
.env.development
.env.production

Dockerfile
.dockerignore

README.md
openspec/

.vscode
.idea
*.swp
*.swo
